<div class="container">

  <h1>⚽ EcoSport Media Puzzle.</h1>

  <div class="timer">
    ⏱ {{ minutes }} : {{ seconds }}
  </div>

  <div
    class="board"
    cdkDropList
    [cdkDropListData]="pieces"
    [cdkDropListSortingDisabled]="true"
    (cdkDropListDropped)="drop($event)">

    <div
      class="piece"
      *ngFor="let piece of pieces; let i = index"
      cdkDrag
      (cdkDragStarted)="dragStart(i)"
      (click)="pieceClicked(i)"
      [class.selected]="selectedPCIndex === i">

      
      <div
  class="piece-image"
  [style.backgroundImage]="'url(' + piece.image + ')'"
  [style.backgroundPosition]="piece.pctX + '% ' + piece.pctY + '%'">
</div>

    </div>

  </div>

  <button class="restart" (click)="restart()">
    🔄 Restart
  </button>

  <div class="winner" *ngIf="completed">
    🥇 Gold Badge Achieved!
  </div>

</div>